# Static site operator checklist
KAKAO_CHANNEL_URL=http://pf.kakao.com/_eWZSX
KAKAO_CHANNEL_CHAT_URL=http://pf.kakao.com/_eWZSX/chat
KAKAO_BOOKING_URL=
KAKAO_GROUP_INQUIRY_URL=
RESERVATION_PHONE=010-4924-3435
